# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build/debug/.cmake/api/v1/query/cache-v2
/build/debug/.cmake/api/v1/query/cmakeFiles-v1
/build/debug/.cmake/api/v1/query/codemodel-v2
/build/debug/.cmake/api/v1/query/toolchains-v1
/build/debug/.cmake/api/v1/reply/cache-v2-a903f391a824e39e04ac.json
/build/debug/.cmake/api/v1/reply/cmakeFiles-v1-10ba04981dae5871f736.json
/build/debug/.cmake/api/v1/reply/codemodel-v2-154b23045cc92ad0adf2.json
/build/debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/build/debug/.cmake/api/v1/reply/directory-compiler.lexer-Debug-4ffb819ae0a778f764a1.json
/build/debug/.cmake/api/v1/reply/directory-compiler-Debug-00ff14f0cf92e5430092.json
/build/debug/.cmake/api/v1/reply/index-2025-01-26T04-41-14-0240.json
/build/debug/.cmake/api/v1/reply/target-ORX_COMPILER-Debug-0c97f0c6a9d930a3695d.json
/build/debug/.cmake/api/v1/reply/target-ORX_LEXER-Debug-7049538d99c4bd70e439.json
/build/debug/.cmake/api/v1/reply/toolchains-v1-5fa072e0df57668af6e9.json
/build/debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/build/debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/build/debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/build/debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/build/debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/build/debug/CMakeFiles/3.29.6/CMakeSystem.cmake
/build/debug/CMakeFiles/clion-Debug-log.txt
/build/debug/CMakeFiles/clion-environment.txt
/build/debug/CMakeFiles/cmake.check_cache
/build/debug/CMakeFiles/CMakeConfigureLog.yaml
/build/debug/CMakeFiles/rules.ninja
/build/debug/CMakeFiles/TargetDirectories.txt
/build/debug/compiler/lexer/cmake_install.cmake
/build/debug/compiler/cmake_install.cmake
/build/debug/compiler/dummy.cpp
/build/debug/Testing/Temporary/LastTest.log
/build/debug/build.ninja
/build/debug/cmake_install.cmake
/build/debug/CMakeCache.txt
/build/debug/compile_commands.json
/build/release/.cmake/api/v1/query/cache-v2
/build/release/.cmake/api/v1/query/cmakeFiles-v1
/build/release/.cmake/api/v1/query/codemodel-v2
/build/release/.cmake/api/v1/query/toolchains-v1
/build/release/.cmake/api/v1/reply/cache-v2-eb0bbe597e5d0794e49c.json
/build/release/.cmake/api/v1/reply/cmakeFiles-v1-c45c653611d4302dd0e4.json
/build/release/.cmake/api/v1/reply/codemodel-v2-a52d231512d90b7e6a5a.json
/build/release/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
/build/release/.cmake/api/v1/reply/directory-compiler.lexer-Release-4ffb819ae0a778f764a1.json
/build/release/.cmake/api/v1/reply/directory-compiler-Release-00ff14f0cf92e5430092.json
/build/release/.cmake/api/v1/reply/index-2025-01-26T04-41-14-0239.json
/build/release/.cmake/api/v1/reply/target-ORX_COMPILER-Release-9509c8e4850795f986c9.json
/build/release/.cmake/api/v1/reply/target-ORX_LEXER-Release-330f7258c50e07db9f42.json
/build/release/.cmake/api/v1/reply/toolchains-v1-5fa072e0df57668af6e9.json
/build/release/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/build/release/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/release/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/build/release/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/build/release/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/build/release/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/build/release/CMakeFiles/3.29.6/CMakeSystem.cmake
/build/release/CMakeFiles/clion-environment.txt
/build/release/CMakeFiles/clion-Release-log.txt
/build/release/CMakeFiles/cmake.check_cache
/build/release/CMakeFiles/CMakeConfigureLog.yaml
/build/release/CMakeFiles/rules.ninja
/build/release/CMakeFiles/TargetDirectories.txt
/build/release/compiler/lexer/cmake_install.cmake
/build/release/compiler/cmake_install.cmake
/build/release/compiler/dummy.cpp
/build/release/build.ninja
/build/release/cmake_install.cmake
/build/release/CMakeCache.txt
/build/release/compile_commands.json
/.idea/.gitignore
/.idea/.name
/.idea/editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/oronyx-lang.iml
/.idea/vcs.xml
